#include "wx/msw/wx.rc"
#include "wx/plot/wxplot.rc"
ogl  ICON "ogl.ico"
acft_mgr		BITMAP "acft_mgr.bmp"
gear_icon		BITMAP "gear_icon.bmp"
operator_pow		BITMAP "operator_pow.bmp"
add			BITMAP "add.bmp"
integrator		BITMAP "integrator.bmp"
operator_product	BITMAP "operator_product.bmp"
aero_icon		BITMAP "aero_icon.bmp"
kinemat			BITMAP "kinemat.bmp"
operator_quotient	BITMAP "operator_quotient.bmp"
ap_icon			BITMAP "ap_icon.bmp"
lag			BITMAP "lag.bmp"
operator_sin		BITMAP "operator_sin.bmp"
arrow			BITMAP "arrow.bmp"
ledlag			BITMAP "ledlag.bmp"
operator_sum		BITMAP "operator_sum.bmp"
axis			BITMAP "axis.bmp"
mass_icon		BITMAP "mass_icon.bmp"
operator_tan		BITMAP "operator_tan.bmp"
cutpoint		BITMAP "cutpoint.bmp"
metrics_icon		BITMAP "metrics_icon.bmp"
output_icon		BITMAP "output_icon.bmp"
deadband		BITMAP "deadband.bmp"
mnv_mgr			BITMAP "mnv_mgr.bmp"
property		BITMAP "property.bmp"
del			BITMAP "del.bmp"
newpoint		BITMAP "newpoint.bmp"
property_icon		BITMAP "property_icon.bmp"
destination		BITMAP "destination.bmp"
node			BITMAP "node.bmp"
reverse			BITMAP "reverse.bmp"
detail			BITMAP "detail.bmp"
operator_abs		BITMAP "operator_abs.bmp"
rslt_mgr		BITMAP "rslt_mgr.bmp"
do_mnv			BITMAP "do_mnv.bmp"
operator_acos		BITMAP "operator_acos.bmp"
scdorder		BITMAP "scdorder.bmp"
dupl			BITMAP "dupl.bmp"
operator_asin		BITMAP "operator_asin.bmp"
source			BITMAP "source.bmp"
engine_icon		BITMAP "engine_icon.bmp"
operator_atan		BITMAP "operator_atan.bmp"
straight		BITMAP "straight.bmp"
eng_mgr			BITMAP "eng_mgr.bmp"
operator_cos		BITMAP "operator_cos.bmp"
summer			BITMAP "summer.bmp"
fcs_icon		BITMAP "fcs_icon.bmp"
operator_derivative	BITMAP "operator_derivative.bmp"
switch			BITMAP "switch.bmp"
fileheader_icon		BITMAP "fileheader_icon.bmp"
operator_difference	BITMAP "operator_difference.bmp"
table_icon		BITMAP "table_icon.bmp"
filter			BITMAP "filter.bmp"
operator_func		BITMAP "operator_func.bmp"
value_icon		BITMAP "value_icon.bmp"
gain			BITMAP "gain.bmp"
operator_integral	BITMAP "operator_integral.bmp"
washout			BITMAP "washout.bmp"
mgr			BITMAP "mgr.bmp"
AVIC_logo    BITMAP "AVIC_logo.bmp"
JSBSim_logo    BITMAP "JSBSim_logo.bmp"
NUAA_logo    BITMAP "NUAA_logo.bmp"
wxWidgets_logo    BITMAP "wxWidgets_logo.bmp"
wait    BITMAP   "wait.bmp"
myclose    BITMAP    "myclose.bmp"
mynew    BITMAP    "mynew.bmp"
myopen    BITMAP    "myopen.bmp"
mysaveas    BITMAP    "mysaveas.bmp"
mysave    BITMAP    "mysave.bmp"
general   BITMAP    "general.bmp"
channel   BITMAP    "channel.bmp"
func      BITMAP    "func.bmp"
rocket_engine    BITMAP    "rocket_engine.bmp"
piston_engine    BITMAP    "piston_engine.bmp"
turbine_engine    BITMAP    "turbine_engine.bmp"
propeller    BITMAP    "propeller.bmp"
nozzle    BITMAP    "nozzle.bmp"
direct    BITMAP    "direct.bmp"
electric_engine    BITMAP    "electric_engine.bmp"
tank    BITMAP    "tank.bmp"
aircraft BITMAP   "aircraft.bmp"
script   BITMAP   "script.bmp"
failure  BITMAP   "failure.bmp"
success  BITMAP   "success.bmp"
pause    BITMAP   "pause.bmp"
running  BITMAP   "running.bmp"
snap     BITMAP   "snap.bmp"
operator_ifthen    BITMAP "operator_ifthen.bmp"
operator_not    BITMAP "operator_not.bmp"
operator_or    BITMAP "operator_or.bmp"
operator_and    BITMAP "operator_and.bmp"
operator_eq    BITMAP "operator_eq.bmp"
operator_ne    BITMAP "operator_ne.bmp"
operator_ge    BITMAP "operator_ge.bmp"
operator_gt    BITMAP "operator_gt.bmp"
operator_lt    BITMAP "operator_lt.bmp"
operator_le    BITMAP "operator_le.bmp"
